#line_holder {  position: absolute; background-image: url("images/diag-rent.png"); background-repeat:repeat; z-index: -10; height: 1000px; width: 1500px; margin-top: 170px; }
#nav_buttons {top: 130px; left: 132px;}
